{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
      <div class="hero-unit">
	
	<h1>Bioinformatics@CCR</h1>
	<p class="lead">Bioinformatics Training, Education, and Collaboration at the Center for Cancer Research</p>
      </div>
      <div class="row">
	<div class="span12">
          <div id="main-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
		<img src="{{ url_for('static',filename='img/heatmap_960x400-0.png') }}" />
		<div class="carousel-caption">
		  <h4>Computational Genomics</h4>
		  <p>We apply computational and statistical approaches to improve the understanding
		    of normal and tumor genomes.
		  </p>
		</div>
	      </div>
	      <div class="item">
		<img src="{{ url_for('static',filename='img/codeListing_960x400-0.png') }}" />
		<div class="carousel-caption">
		  <h4>Genomics Software Development</h4>
		  <p>We develop and apply algorithms and tools for the comprehension of genomic data.
		  </p>
		</div>
	      </div>
	      <div class="item">
		<img src="{{ url_for('static',filename='img/circos-maxzoom_960x400-0.png') }}" />
		<div class="carousel-caption">
		  <h4>Cancer Biology</h4>
		  <p>We aim to understand the order and disorder in genomes that drive cancer using
		    cutting-edge computational applications and approaches.
		  </p>
		</div>
	      </div>
	      <div class="item">
		<img src="{{ url_for('static',filename='img/F3.large_960x400-0.png') }}" />
		<div class="carousel-caption">
		  <h4>Translational Medicine</h4>
		  <p>Application of genomics technologies to rare and common cancers can provide
		    valuable clues to specific and potentially effective therapeutics.
		  </p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#main-carousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#main-carousel" data-slide="next">&rsaquo;</a>
	  </div>

      <!-- Typography
	   ================================================== -->
      <section id="mainsection">
	<!-- Headings & Paragraph Copy -->
	<div class="row">
	  <div class="span4">
	    <div class="well" id="forumposts">
	      <h3>Recent Biostar posts</h3>
	      <ul>
	      </ul>
	    </div>
	  </div>

	  <div class="span4">
	    <div class="well" id="bioinformaticstwitter">
	      <h3>Bioinformatics Tweets</h3>
	      <ul>
	      </ul>
	    </div>
	  </div>

	  <div class="span4">
	    <div class="well" id="eventsfeed">
	      <h3>Upcoming Events</h3>
	      <ul>
	      </ul>
	    </div>
	  </div>
	</div>

      </section>

{% endblock %}
