<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bioinformatics@CCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Le styles -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/page.js') }}"></script>
    <style>
      #main {
      padding-top:60px;
      }
    </style>
    <script>
      $('#main-carousel').ready(function() {
      $('#main-carousel').carousel('cycle');
      });
    </script>
  </head>
  <body>
    <!-- Masthead
	 ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
	    <a class="brand" href="#">Bioinformatics@CCR</a>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/training">Training & Education</a></li>
              <li><a href="{{ url_for('software_list',path='software') }}">Software</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li><a href="http://genome.ucsc.edu/">UCSC Genome Browser</a></li>
                  <li><a href="http://bioconductor.org/">Bioconductor</a></li>
                  <li class="divider"></li>
		  <li><a href="http://ostp.nci.nih.gov/">Office of Science and Technology Partnerships</a></li>
                  <li><a href="http://www.ncbi.nlm.nih.gov/">NCBI</a></li>
                  <li><a href="http://helix.nih.gov/">NIH Helix & Biowulf</a></li>
                  <li><a href="http://galaxy.cit.nih.gov/">NIH Galaxy Server</a></li>		
		</ul>
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
	</div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

    <div class="container" id="main">
      <div class="row">
	<div class="span12">

	  {{ page }}

	</div>
      </div>
    </div>
    <footer>
      <center>
	<a href="http://www.cancer.gov"><img src="http://ccrod.cancer.gov//confluence/images/themebuilder/foot_nci.jpg" alt="National Cancer Institute"/></a>
	<a href="http://www.nih.gov"><img src="http://ccrod.cancer.gov//confluence/images/themebuilder/foot_nih.jpg" alt="National Institutes of Health"/></a>
	<a href="http://www.dhhs.gov"><img src="http://ccrod.cancer.gov//confluence/images/themebuilder/foot_hhs.jpg" alt="Department of Health and Human Services"/></a>
	<a href="http://www.usa.gov"><img src="http://ccrod.cancer.gov//confluence/images/themebuilder/foot_usa.jpg" alt="USA.gov"/></a>
      </center>
    </footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20569571-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
