{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}
{% for year in records|groupby('YEAR')|sort(reverse=True) %}
<div class="row">
<div class="span12">
<h2>{{ year.grouper }}</h2>
<div class="span11 offset1">
<ul>
{% for rec in year.list %}
<li>
{{ rec.AU|join(", ")}}. <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ rec.PMID }}">{{ rec.TI }}</a> {{ rec.SO }}
</li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
