{% extends "base.html" %}
{% block title %}Software{% endblock %}
{% block content %}
<ul class="thumbnails">
  {% for s in software %}
  <li class="span4" style="height: 100%">
    <div class="thumbnail well">
      <h3>{{ s.title }}</h3>
      <p>{{ s.description }}</p>
      <a class="btn btn-info" href="{{ s.url }}">Learn more...</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

    

